@font-face {
  font-family: "Fusion Pixel 12 Proportional";
  src: url("./fusion-pixel-12px-proportional-zh_hans.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Fusion Pixel 12 Mono";
  src: url("./fusion-pixel-12px-monospaced-zh_hans.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Ark Pixel 12 Proportional";
  src: url("./ark-pixel-12px-proportional-zh_cn.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Press Start 2P";
  src: url("./press-start-2p.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Silkscreen";
  src: url("./silkscreen-regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Pixelify Sans";
  src: url("./pixelify-sans-variable.ttf") format("truetype");
  font-display: swap;
}
